############################
# Maven
############################
target/

############################
# Backup
############################
backup/

############################
# Environment
############################
.env
.env.*

############################
# IDE
############################
.idea/
.vscode/
*.iml

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
logs/
*.log

############################
# Temporary Files
############################
*.tmp
*.bak
*.swp

############################
# Coverage Reports
############################
coverage/
jacoco.exec

############################
# Testcontainers
############################
.testcontainers.properties